h1 {
  color: pink;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {font-family: sans-serif;
}

img {
  float: right;
}
.sidebar {
  width: 25%;
  float: left;
  background-color: white;
}

.column {
  width: 500px;
  float: left;
}

.my-class {
  margin: 12px;
  border: 2px solid teal;
  padding: 0px;
}
